---
---

// variables

$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, PingFang TC, Microsoft JhengHei, Noto Sans CJK TC, "微軟正黑體", sans-serif
$font-family-serif: Palatino Linotype, Songti TC, PMingLiU-ExtB, Noto Serif CJK TC, "新細明體", serif
$font-family-monospace: Menlo, Monaco, Consolas, Courier New, monospace

// global

body
  background-color: #f7f7f7
  font-family: $font-family-sans-serif

a, a:hover, .page-link, .page-link:hover
  color: indianred

.blockquote
  font-size: 1rem
  font-style: italic
  margin: 1em 2.5em

pre
  border: 1px solid #ccc
  border-radius: 4px
  padding: .5rem

// navbar & footer

.navbar
  border-bottom: 2px solid indianred
  padding: 0 1rem

.navbar-brand
  font-family: $font-family-serif
  font-variant: small-caps

.navbar-toggler
  margin: .5rem 0

.navbar-nav
  > .nav-item > .nav-link
    padding: 1rem .5rem
  > .active > .nav-link
    background-image: linear-gradient(to bottom, #f2f2f2 0, #fafafa 100%)

@media (max-width: $breakpoint-sm)
  .navbar-nav > .active > .nav-link
    border-left: 2px solid indianred
    box-shadow: inset 3px 0 9px rgba(0,0,0,0.075)

@media (min-width: $breakpoint-sm)
  .navbar-nav > .active > .nav-link
    border-top: 2px solid indianred
    box-shadow: inset 0 3px 9px rgba(0,0,0,0.075)
    padding-top: 13px

#footer
  border-top: 2px solid indianred
  box-shadow: 0 1px 0 rgba(255,255,255,0.15), inset 0 1px 5px rgba(0,0,0,0.075)
  padding: 32px
  text-align: center

// index

.card
  margin: 2rem 0

.card-title
  font-family: $font-family-serif
  font-weight: bold

// archive

#archive > tr
  > td:first-child
    min-width: 98px
    text-align: right
    vertical-align: top
  > td:last-child
    padding: 0 0 1rem 1rem

// posts

#main
  #title
    color: indianred
    font-family: $font-family-serif
    font-size: 2.5rem
    font-weight: bold
    text-align: center
  h1, h2, h3
    font-family: $font-family-serif
    font-weight: bold
  h1
    color: indianred
    font-size: 2rem
  h2
    color: gray
    font-size: 1.67rem
  h3
    font-size: 1.5rem

#section-nav
  padding: 2rem 0
  a
    color: gray
  a.active
    border-right: indianred solid 2px
    color: indianred
    font-weight: bold
  > ul.nav > li.nav-item > a.nav-link + ul.nav
    display: none
    padding-left: 1em
  > ul.nav > li.nav-item > a.nav-link.active + ul.nav
    display: flex
