<footer class="hidden-print" id="footer">
  <img alt="_" src="/img/avatar.png">
  $$\text{Just another blog.}$$
</footer>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script> -->
<script src="//khan.github.io/KaTeX/bower_components/katex/dist/katex.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/contrib/auto-render.min.js"></script>
<script src="/js/chinese_converter.js"></script>
<script src="/js/main.js"></script>
