 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta content="Daniel Chau" name="author">
  <title>
    {% if page.title %}
      {{page.title}} &middot;
    {% endif %}
    Daniel Chau's Chaos
  </title>
  <link href="/atom.xml" rel="alternate" type="application/atom+xml">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/syntax.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
