<div class="card">
  <div class="card-body">
    <a class="font-serif" style="font-size: 1.25rem; font-variant: small-caps; text-decoration: none;" href="/">Chao's Chaos</a>
    <p class="card-text">yet another weblog</p>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item {% if page.url == '/about.html' %}active{% endif %}" href="/about">about</a>
    <a class="list-group-item {% if page.url == '/archive/' %}active{% endif %}" href="/archive">archive</a>
  </div>
</div>
